:root {
	--amazon-blue: #0478ff;
	--amazon-blue-dark: #006be5;
	--amazon-orange: #ffa41c;
}

#gutcheck .emphasis {
	font-weight: 700;
}

/* Had to use absolute units here because that is what Amazon uses to set their padding and I want to remain consistent */
#gutcheck {
	padding: 5px 11px 11px 11px;
	margin-block-end: 12px;
}

#gutcheck span {
	font-style: italic;
}

#gutcheck h1 {
	font-size: 1.5em;
	font-weight: 700;
}

/* Had to look up how to set animation iteration counts: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/animation-iteration-count */
#gutcheck.gutcheck-highlight {
	transition: 100ms ease-in-out;
	border: 2px solid var(--amazon-orange);
	padding: 4px 9px 10px 10px;
	box-shadow: 1px 2px 10px rgba(9, 9, 9, 0.408);
	scale: 1.08;
	z-index: 1000000;
	animation: jump-shaking 0.35s infinite;
	animation-iteration-count: 3;
}

/* #gutcheck .a-button {
	background-color: var(--amazon-blue);
	border-color: var(--amazon-blue);

	& a {
	font-style: normal;
	color: white;
	font-weight: 700;
	}

	&:hover {
		background-color: var(--amazon-blue-dark);
	}
} */


/* Split button code modeled after W3's example here: https://www.w3schools.com/howto/howto_css_button_split.asp */

.btn1, .btn2 {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn:hover, .dropdown:hover .btn  {
  background-color: #0b7dda;
}










/* CSS for shake animation obtained from: https://unused-css.com/blog/css-shake-animation/, I modified the values to work with my design:*/
@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-0.6rem) }
  35% { transform: translateY(-0.6rem) rotate(5deg) }
  55% { transform: translateY(-0.6rem) rotate(-5deg) }
  65% { transform: translateY(-0.6rem) rotate(5deg) }
  75% { transform: translateY(-0.6rem) rotate(-5deg) }
  100% { transform: translateY(0) rotate(0) }
}





/* #gutcheck.gutcheck-highlight h1 {
	color: #ffa41c;
} */






/* :root {
	font-size: 125%;
	--padding: 1.5rem;
	--lineheight: 2rem;
}

#gutcheck {
	position: fixed;
	inset-block-start: var(--padding);
	inset-inline-end: var(--padding);
	z-index: 2000000000;
	width: 23rem;
	padding: calc(var(--padding) / 2);
	padding-inline: var(--padding);
	border: 0.05rem solid #111111;
	border-radius: 0.8rem;
	background: #ffffff;
	box-shadow: 0 0.7rem 2rem rgba(15, 17, 17, 0.15);
	color: #111111;
}

#gutcheck h1 {
	font-size: 1.4rem;
	line-height: var(--lineheight);
	font-weight: 700;
	margin-block-end: calc(var(--padding) / 1.5);
	margin-block-start: 0;
}

#gutcheck h2 {
	font-size: 1rem;
	line-height: calc(var(--lineheight) / 1.5);
	font-weight: 700;
	hyphens: auto;
	margin-block-end: 0;
}

#gutcheck p {
	font-size: 0.8rem;
	line-height: calc(var(--lineheight) / 2);
	font-weight: 400;
	hyphens: auto;
	margin-block-end: 0;
	margin-block-start: calc(var(--padding) / 4);
	padding-block: 0;
}

#gutcheck ul {
	list-style: none;
	padding: 0;
	display: flex;
	column-gap: calc(var(--padding) / 2);
	margin-block-end: calc(var(--padding) / 3);
	margin-block-start: var(--padding);
	padding-inline: 0;
	margin-inline: 0;
}

#gutcheck button p{
	font-size: 0.6rem;
	line-height: calc(var(--lineheight) / 3);
	font-weight: 700;
	margin-block: 0;
	padding-block: calc(var(--padding) / 3);
	list-style: none;
}

#gutcheck span {
	font-style: italic;
}

#gutcheck button p::marker {
	content: "" !important;
} */
